/* MAP */

body {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.area {
	fill: steelblue;
}

svg {
	display: block;
}

.tooltip {
	pointer-events: none;
	text-anchor: middle;
	font: 11px Verdana;
}

.tooltip_rect {
	pointer-events: none;
	fill: #ffffff;
	stroke: #d3d3d3;
	opacity: 0.9;
}

.req_chart {
	background: #b0e0f8;
	margin: 5px;
}

.req_chart rect{

    fill: steelblue;
}

.req_chart text {
    fill: #000;
}

.req_chart text.name {
    fill: #000;
}

div#requestedFiles_container {
    height: 205px;
    width: 810px;
    border:1px solid #656131;
    overflow: scroll;
    overflow-x: hidden;
}


