body { font: 11px Verdana; font-weight: bold;
background-color: #f3f3f3;}

span{ white-space:nowrap;}

path {
	stroke: #2185C5;
	stroke-width: 1.5;
	fill: none;
}


.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

svg {
	display: block;
}

.tooltip {
	pointer-events: none;
	text-anchor: middle;
	font: 11px Verdana;

}

.tooltip_rect {
	pointer-events: none;
	fill: #ffffff;
	stroke: #d3d3d3;
	opacity: 0.9;
}

.req_chart {
	background: white;
	margin: 5px;
}

.req_chart rect{

    fill: #2185C5;
    stroke: none;
}

.req_chart text {
    fill: #000;
}

.req_chart text.name {
    fill: #000;
}

.req_chart rect:hover {
    fill: #64707D;
}

.req_chart line {
    stroke: #c1c1c1;
}

.req_chart .rule {
    fill: #000;
}

div#requestedFiles_container {
    height: 205px;
    width: 490px;
    border: 0px solid #656131;
    overflow: scroll;
    overflow-x: hidden;
	margin-bottom: 10px;
	margin-top: 10px;
    margin-right: 5px;
    float: left;

}

div#requestedStaticFiles_container {
	height: 205px;
	width: 490px;
	border: 0px solid #656131;
	overflow: scroll;
	overflow-x: hidden;
	margin-bottom: 10px;
	margin-top: 10px;
    float:left;



}

.d3-tip {
	line-height: 1.2em;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}




