/* MAP */

svg {
	display: block;
}

.tooltip {
	pointer-events: none;
	text-anchor: middle;
	font: 11px Verdana;
}

.tooltip_rect {
	pointer-events: none;
	fill: #ffffff;
	stroke: #d3d3d3;
	opacity: 0.9;
}